/* Main Content */
.about-main-content {
    padding: 1.5rem 10rem;
    display: flex;
    align-items: center;
    gap: 4rem;

    @media (max-width: 768px) {
        padding: 2rem;
        flex-wrap: wrap;
    }

    @media (max-width: 1280px) and (min-width: 768px) {
        padding: 5rem;
        flex-wrap: wrap;
    }
}

.about-main-content h2 {
    margin-bottom: 1.5rem;
}

.about-main-content p {
    line-height: 1.5;
    font-size: 15px;
}

.deep-gray-bg {
    margin-top: 1.5rem;
    background-color: #35424a;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.what-we-do {
    background-color: #35424a;
    color: white;
    padding: 2rem 1rem;
    border-radius: 8px;
    max-height: auto;
}